<div>
  <form>
    <div class="grid p-fluid" style="margin: auto;">
      <div class="col-12 md:col-6 lg:col-6">
        <input pInputText type="text" name="nome" placeholder="Nome"
          class="inputfield w-full">
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <p-dropdown [options]="tipos" optionLabel="name" placeholder="Tipos"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <p-dropdown [options]="planos" optionLabel="name" placeholder="Planos"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 lg:col-2">
        <p-dropdown [options]="categorias" optionLabel="name" placeholder="Categorias"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 lg:col-4">
        <input pInputText type="text" name="formacao" placeholder="Formação"
          class="inputfield w-full">
      </div>

      <div class="col-12 md:col-12 lg:col-3">
        <button pButton type="submit" label="Filtrar"></button>
      </div>

      <div class="col-12 md:col-12 lg:col-3">
        <button pButton type="submit" label="Limpar filtro"></button>
      </div>
    </div>
  </form>
</div>

<div class="tabela">
  <p-table [value]="usuarios" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[2,5,10]" [resizableColumns]="true"
    styleClass="p-datatable-striped p-datatable-gridlines"
    [responsive]="true">

    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn style="width: 140px;" pSortableColumn="tipo">
          Tipo <p-sortIcon field="tipo"></p-sortIcon>
        </th>

        <th pResizableColumn style="width: 140px;" pSortableColumn="plano">
          Plano <p-sortIcon field="plano"></p-sortIcon>
        </th>

        <th pResizableColumn style="width: 140px;" pSortableColumn="categoria">
          Categoria <p-sortIcon field="categoria"></p-sortIcon>
        </th>

        <th pResizableColumn pSortableColumn="nome">
          Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>

        <th pResizableColumn style="width: 160px;" pSortableColumn="cargo">
          Cargo <p-sortIcon field="cargo"></p-sortIcon>
        </th>

        <th pResizableColumn style="width: 160px;">Telefone</th>
        <th pResizableColumn style="width: 220px;">Localização</th>

        <th pResizableColumn pSortableColumn="formacao">
          Formação <p-sortIcon field="formacao"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{usuario.tipo}}</td>
        <td>{{usuario.plano}}</td>
        <td>{{usuario.categoria}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.cargo}}</td>
        <td>{{usuario.telefone}}</td>
        <td>{{usuario.localizacao}}</td>
        <td>{{usuario.formacao}}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <p-button type="button" styleClass="p-button-text"></p-button>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <p-button type="button" styleClass="p-button-text"></p-button>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">Nenhuma informação cadastrada</td>
      </tr>
    </ng-template>
  </p-table>
</div>
