<div class="grid" style="max-width: 400px; margin: auto">

  <form>
    <div class="col-12" style="text-align: center;">
      <h1>Seja bem vindo ao GISA</h1>
    </div>

    <div class="col-12" style="margin-bottom: 15px;">
      <input pInputText type="email" name="usuario" placeholder="E-mail"
        class="inputfield w-full" ngModel email required #usuario="ngModel">

      <div *ngIf="usuario.hasError('required') && usuario.dirty" class="error">Informe um email</div>
      <div *ngIf="usuario.hasError('email') && usuario.dirty" class="error">Informe um email válido</div>
    </div>

    <div class="col-12" style="margin-bottom: 15px;">
      <input pInputText type="password" name="senha" placeholder="Senha"
        class="inputfield w-full" ngModel required #senha="ngModel">

      <div *ngIf="senha.invalid && senha.touched" class="error">Informe uma senha</div>
    </div>

    <div class="col-12" style="text-align: center;">
      <button pButton type="submit" label="Login"
        (click)="login(usuario.value, senha.value);"
        [disabled]="usuario.value == 0 || senha.value == 0"></button>
    </div>
  </form>

</div>
