<div>
  <h3 class="col-12">Fluxos BPM</h3>

  <form>
    <div class="grid p-fluid" style="margin: auto;">
      <div class="col-12 md:col-6 lg:col-2">
        <button pButton type="button" label="Incluir BPM" class="p-button-outlined"
        (click)="uploadDialog()"></button>
      </div>

      <div class="col-12 md:col-6 lg:col-2">
        <a pButton label="Desenhar BPM" class="p-button-outlined"
          (click)="loadBPMN('https://app.diagrams.net/')"></a>
      </div>
    </div>
  </form>
</div>

<div class="tabela">
  <p-table [value]="fluxos" [paginator]="true" [rows]="10" [responsive]="true"
    [rowsPerPageOptions]="[2,5,10]" [resizableColumns]="true" [rowHover]="true"
    styleClass="p-datatable-striped p-datatable-gridlines">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fluxo">Fluxo<p-sortIcon field="fluxo"></p-sortIcon></th>
        <th pSortableColumn="nome">Nome do arquivo<p-sortIcon field="nome"></p-sortIcon></th>
        <th pSortableColumn="data">Data<p-sortIcon field="data"></p-sortIcon></th>
        <th style="width: 110px;"></th>
        <th style="width: 110px;"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-fluxo>
      <tr>
        <td>{{fluxo.flowName}}</td>
        <td>{{fluxo.fileName}}</td>
        <td>{{fluxo.logDate | date:'dd/MM/y'}}</td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-pencil" class="p-button-rounded" title="Editar"></button>
        </td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-trash" class="p-button-rounded" title="Apagar" (click)="deleteDialog(fluxo.id)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">Nenhum fluxo cadastrado</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Há um total de {{fluxos ? fluxos.length : 0 }} registro(s).
      </div>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #up header="Upload de Fluxo BPM" key="upload" [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <p-fileUpload chooseLabel="Carregar" cancelLabel="Cancelar" [showCancelButton]="false"
    (uploadHandler)="uploadFile($event, flowName.value); up.reject();" [customUpload]="true"></p-fileUpload>

    <input pInputText type="text" name="flowName" placeholder="Nome do Fluxo" style="margin-top: 15px;"
        class="inputfield w-full" ngModel required #flowName="ngModel">

    <div *ngIf="flowName.hasError('required') && flowName.dirty" class="error">
      Informe o nome do fluxo
    </div>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog #cd header="Exclusão" icon="pi pi-exclamation-circle" key="exclusion">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
