<div>
  <h3 class="col-12">Fluxos BPM</h3>

  <form>
    <div class="grid p-fluid" style="margin: auto;">
      <div class="col-12 md:col-6 lg:col-2">
        <button pButton type="button" label="Incluir BPM" class="p-button-outlined"
        (click)="uploadDialog()"></button>
      </div>

      <div class="col-12 md:col-6 lg:col-2">
        <a pButton label="Desenhar BPM" class="p-button-outlined"
          (click)="loadBPMN('https://app.diagrams.net/')"></a>
      </div>
    </div>
  </form>
</div>

<div class="tabela">
  <p-table [value]="fluxos" [paginator]="true" [rows]="10" [responsive]="true"
    [rowsPerPageOptions]="[2,5,10]" [resizableColumns]="true" [rowHover]="true"
    styleClass="p-datatable-striped p-datatable-gridlines">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="flowName">Nome do fluxo<p-sortIcon field="flowName"></p-sortIcon></th>
        <th pSortableColumn="fileName">Nome do arquivo<p-sortIcon field="fileName"></p-sortIcon></th>
        <th pSortableColumn="logDate" style="width: 180px;">Data de cadastro<p-sortIcon field="logDate"></p-sortIcon></th>
        <th style="width: 110px;"></th>
        <th style="width: 110px;"></th>
        <th style="width: 110px;"></th>
        <th style="width: 110px;"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-fluxo>
      <tr>
        <td>{{fluxo.flowName}}</td>
        <td>{{fluxo.fileName}}</td>
        <td>{{fluxo.logDate | date:'dd/MM/y'}}</td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-pencil" class="p-button-rounded" title="Editar" (click)="editDialog(fluxo.id)"></button>
        </td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-eye" class="p-button-rounded" title="Observar" (click)="lookDialog()"></button>
        </td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-download" class="p-button-rounded" title="Download" (click)="downloadFile(fluxo.id, fluxo.fileName)"></button>
        </td>
        <td style="text-align: center;">
          <button pButton icon="pi pi-trash" class="p-button-rounded" title="Apagar" (click)="deleteDialog(fluxo.id)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">Nenhum fluxo cadastrado</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Há um total de {{fluxos ? fluxos.length : 0 }} registro(s).
      </div>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #up header="Upload de Fluxo BPM" key="upload" [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <p-fileUpload chooseLabel="Carregar" [showCancelButton]="false" [customUpload]="true" [showUploadButton]="flowName.value != 0"
    (uploadHandler)="uploadFile($event, flowName.value); up.reject();"></p-fileUpload>

    <input pInputText type="text" name="flowName" placeholder="Nome do Fluxo" style="margin-top: 15px;"
        class="inputfield w-full" ngModel required #flowName="ngModel">

    <div *ngIf="flowName.hasError('required') && flowName.dirty" class="error">
      Informe o nome do fluxo
    </div>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog #cd header="Exclusão" icon="pi pi-exclamation-circle" key="exclusion">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog header="Diagrama" key="look">
  <ng-template pTemplate="footer">
    <div style="text-align: center;">
      <img src="/assets/img/processo_aprovacao_exame.jpg" alt="diagrama">
    </div>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog #edit header="Editar" key="edit" [style]="{width: '30vw'}">
  <ng-template pTemplate="footer">
    <input pInputText type="text" name="flowName" placeholder="Nome do Fluxo" style="margin-bottom: 15px;"
        class="inputfield w-full" ngModel required #flowName="ngModel">

    <div *ngIf="flowName.hasError('required') && flowName.dirty" class="error" style="margin-bottom: 15px;">
      Informe o nome do fluxo
    </div>

    <button type="button" pButton icon="pi pi-save" label="Salvar" (click)="editFile(flowName.value); edit.reject()"
    [disabled]="flowName.value == 0" title="Salvar"></button>
  </ng-template>
</p-confirmDialog>
