/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  color: #404C51;
}

.p-menuitem-link-active {
  background-color: #cbcdd4;
}

